/* Global Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

// @import "node_modules/bootstrap/scss/variables";
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero-section {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .hero-message {
    width: 90%;
    margin-top: 2rem;
    text-align: center;
    text-wrap: wrap;
  }
}

:root {
  --primary-color: #252053;
}

img {
  width: 100%;
}

// * Bootstrap Customization